.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "main main . . ";
  background-color: black;
  height: 300px;
  overflow: hidden;
}

.mainDiv {
  grid-area: main;
  text-align: left;
  padding: 0 4rem;
  padding-top: 2rem;
  height: 300px;
}

.logo {
  width: 250px;
}

.para {
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  width: 75%;
}

a {
  text-decoration: none;
}
.contact {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  padding-top: 2rem;
  height: 300px;
}

.heading {
  color: #37b2f8;
}

.address {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-top: 2rem;
  height: 300px;
}

.email i {
    padding-right: 0.4rem;;
}

.copyright {
  color: rgb(206, 206, 206);
  margin-top: 4rem;
  font-style: italic;
  font-size: 12px;
  font-weight: 600;
}