.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(240, 240, 240);
}

.heading {
  margin: 1.5rem 0 3.5rem 0;
  font-size: 3rem;
  color: #858383;
}

.section {
    height: 450px;
    width: 500px;
}

.png {
  width: 500px;
}

.para {
    float: center;
    position: relative;
    bottom: 17rem;
    left: 1rem;
    width: 300px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
/* 
@media screen and (max-width:){
  
} */