.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  min-height: 85vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 70vh;
  padding: 2rem;
  /* box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); */
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoSection {
  width: 50vw;
  /* height: 70vh; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.details {
  padding: 0 3rem;
}

.para {
  width: 80%;
  text-align: justify;
}

.heading {
  font-size: 4rem;
  margin: 0 auto;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list h3 {
  width: fit-content;
}

.list li {
  width: fit-content;
}

@media screen and (max-width: 1024px) {

  .infoSection {
    width: 400px;
  }
}

@media screen and (max-width:905px) {
  .container {
    flex-direction: column-reverse;
  }

  .para {
    margin: 1.5rem auto;
  }

  .list li {
    display: flex;
    justify-content: space-around;
    width: 90%;
   margin: 0 auto;
  }
}

@media screen and (max-width:415px) {
  .form {
    display: none;
  }
  /* .list h3 {
    font-size: 1.8rem;
  }
  .list h3 {
    font-size: 1rem;
  }
  .heading {
    margin: 0;
  }
  .details {
    padding: 0;
  }
  .para {
    margin: 0;
    padding: 0;
  } */
}