.container {
    height: 500px;
    margin: 0;
    padding: 2rem 5rem;
}

.heading {
    margin: 0.5rem 0 2.5rem 0;
    font-size: 3rem;
    color: #858383;
    ;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
}

.para {
    width: 18rem;
}