.container {
  /* -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px); */
  background: rgba(214, 214, 214, 0.65);
  margin: 0 auto;
  text-align: center;
  /* background: transparent; */
  position: absolute;
  top: 0;
  width: 100%;
  text-decoration: none;
}

.section {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.logo {
  width: 175px;
  padding: 0 4rem;
}

.navs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  margin: 0 1rem;
  font-size: 20px;
  list-style-type: none;
  padding-inline-start: 0px;
}

a {

  text-decoration: none;
}

.navs li {
  font-family: 'STIX Two Text', serif;
  color: black;
  /* font-weight: 600; */
}

@media screen and (max-width: 860px) {

}
